[Desktop Entry]
Name=RMSMonitor.desktop
Type=Application
Exec=source ~/venvs/vRMSMonitor/bin/activate && python3 checkStatus.py
Path=RMSMonitor
Hidden=false
NoDisplay=false
Icon=lxterminal
